/* Bannar */
.bannar{
    width: 1000px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    margin: 40px 155px;
    background-image: url('/images/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Celebration{
    position: absolute;
    width: 632px;
    justify-content: center;
    margin-left: 170px;
}
.Celebration > h6{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
    /* font-family: 'Merriweather Sans', sans-serif; */
}
.Celebration > h5{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    margin-top: 50px ;
    /* font-family: 'Merriweather Sans', sans-serif; */

}
/* 65% OFF */
.off{
    width: 40%;
    margin: 0 400px;
}
.off_2{
    color: #F00;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 88px;
    font-weight: 800;
    margin-bottom: 0;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 0;
}
.all{
    color: #070211;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
}
.new{
    margin-top: -100px;
    width: 500px;
    height: 300px;
}